@import "tailwindcss";

@theme {
  --color-brand-blue: #0ea5e9;
  --color-glass-bg: rgba(15, 23, 42, 0.7);
  --color-glass-border: rgba(51, 65, 85, 0.5);
}

body {
  background: radial-gradient(circle at center, #1e293b 0%, #020617 100%);
  color: #f8fafc;
}